@media (max-width: 768px) {
  body {
    background: #f1f3fa;
  }
  body a {
    color: #bdafaf;
  }
  body a i {
    color: white;
    font-size: 30px;
  }
  body a .hide {
    display: none;
  }
  body .img-secc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 20px;
  }
  body .img-secc h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  body .img-secc .bttn-img-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .img-secc .bttn-img-1 .bttn-img {
    height: 200px;
    width: 300px;
    padding: 20px 20px;
  }
  body .img-secc .bttn-img-1 .bttn-img a img {
    width: 100%;
    height: auto;
  }
  body .img-secc .bttn-img-1 .be2 {
    background: gray;
    height: 100%;
  }
  body .img-secc .bttn-img-1 .be3 {
    background: pink;
    height: 100%;
  }
  body .h-one .ha1 {
    background-color: #ac4218;
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
  body .h-one .ha1 nav {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  body .h-one .ha1 nav .ha3 {
    color: white;
  }
  body .h-one .ha1 .row {
    margin: 0 20px;
    justify-content: center;
    align-items: center;
  }
  body .h-one .ha1 .row .search {
    height: 70px;
    width: 70px;
    margin-right: 15px;
  }
  body .h-one .ha1 .row .search img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  body .h-one .ha1 .row .ha2 {
    color: whitesmoke;
    font-weight: bold;
  }
  body .h-one .ha1 .row .ha2 a {
    color: white;
  }
  body main {
    width: 100%;
    height: auto;
    background: white;
    padding: 20px 20px;
  }
  body main div {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
  }
  body main .option-div .option-div1 .op-d1 {
    width: auto;
  }
  body main .option-div .option-div1 .op-d1 .op-d2 {
    width: auto;
    font-size: 14px;
    font-weight: bolder;
  }
  body main .option-div .option-div1 .op-d1 select {
    width: 100%;
    height: auto;
  }
  body main .option-div .bttn {
    display: flex;
    font-size: 18px;
  }
  body main .option-div .bttn form .bttn-1 {
    background: brown;
    padding: 0;
  }
  body main .option-div .bttn form .bttn-2 {
    background: #2c1753;
    padding: 0;
  }
  body footer {
    background: black;
    width: 100%;
    height: auto;
  }
  body footer .con4 {
    width: 100%;
    height: auto;
  }
  body footer .con4 .icon-div {
    width: 100%;
    background: #3a3535;
  }
  body footer .con4 .icon-div .ul1 {
    display: flex;
    justify-content: start;
    list-style-type: none;
  }
  body footer .con4 .icon-div .ul1 li {
    padding: 15px 5px;
  }
  body footer .con4 .row1 {
    display: flex;
    padding-top: 20px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body footer .con4 .row1 .ffa1 {
    border-top: 1px solid #b4aaaa;
    border-bottom: 1px solid #b4aaaa;
  }
  body footer .con4 .row1 .ffa1 .ul1 {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
  }
  body footer .con4 .row1 .ffa1 .ul1 li {
    margin: 10px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  body footer .con4 .row1 .ffa1 .ul1 li a {
    color: white;
  }
  body footer .con4 .row1 .ffa2 {
    width: 80px;
    height: 80px;
    border: 1px solid #b4aaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  body footer .con4 .row1 .ffa3 {
    border-top: 1px solid #b4aaaa;
    border-bottom: 1px solid #b4aaaa;
  }
  body footer .con4 .row1 .ffa3 .ul1 {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
  }
  body footer .con4 .row1 .ffa3 .ul1 li {
    margin: 10px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  body footer .con4 .row1 .ffa3 .ul1 li a {
    color: white;
  }
  body footer .con4 .bottom-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
  }
  body footer .con4 .bottom-div .za1 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za1 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za1 form input {
    background: transparent;
    border: 1px solid gray;
    color: white;
  }
  body footer .con4 .bottom-div .za1 form label {
    display: inline;
    background: gray;
    padding: 6px 10px;
    font-size: 11px;
    color: white;
  }
  body footer .con4 .bottom-div .za2 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za2 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za2 p {
    font-size: 11px;
    margin: 0;
  }
  body footer .con4 .bottom-div .za2 .color {
    color: #ec3333;
    cursor: pointer;
  }
  body footer .con4 .bottom-div .za3 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za3 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za3 p {
    font-size: 11px;
    margin: 0;
  }
  body footer .con4 .bottom-div .za3 p .color {
    color: #ec3333;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body a {
    color: white;
  }
  body a i {
    color: white;
    font-size: 30px;
  }
  body nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 5px 10px;
    color: white;
  }
  body nav a {
    display: flex;
    color: white;
  }
  body nav a .hide {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }
  body img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  body .img-secc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 20px;
  }
  body .img-secc h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  body .img-secc .bttn-img-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .img-secc .bttn-img-1 .bttn-img {
    height: 200px;
    width: 300px;
    padding: 20px 20px;
  }
  body .img-secc .bttn-img-1 .bttn-img a img {
    width: 100%;
    height: auto;
  }
  body .img-secc .bttn-img-1 .be2 {
    background: gray;
    height: 100%;
  }
  body .img-secc .bttn-img-1 .be3 {
    background: #b4a5a5;
    height: 100%;
  }
  body footer {
    background: black;
    width: 100%;
    height: auto;
  }
  body footer .ffa2 {
    width: 80px;
    height: 80px;
    border: 1px solid #b4aaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  body footer .con4 {
    width: 100%;
    height: auto;
  }
  body footer .con4 .icon-div {
    width: 100%;
    background: #3a3535;
  }
  body footer .con4 .icon-div .ul1 {
    display: flex;
    justify-content: start;
    list-style-type: none;
  }
  body footer .con4 .icon-div .ul1 li {
    padding: 15px 5px;
  }
  body footer .con4 .icon-div .ul1 li a {
    color: #bdafaf;
  }
  body footer .con4 .row1 {
    display: flex;
    padding-top: 20px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body footer .con4 .row1 .ffa1 {
    border-top: 1px solid #b4aaaa;
    border-bottom: 1px solid #b4aaaa;
  }
  body footer .con4 .row1 .ffa1 .ul1 {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
  }
  body footer .con4 .row1 .ffa1 .ul1 li {
    margin: 10px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  body footer .con4 .row1 .ffa1 .ul1 li a {
    color: white;
  }
  body footer .con4 .row1 .ffa3 {
    border-top: 1px solid #b4aaaa;
    border-bottom: 1px solid #b4aaaa;
  }
  body footer .con4 .row1 .ffa3 .ul1 {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
  }
  body footer .con4 .row1 .ffa3 .ul1 li {
    margin: 10px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  body footer .con4 .row1 .ffa3 .ul1 li a {
    color: white;
  }
  body footer .con4 .bottom-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
  }
  body footer .con4 .bottom-div .za1 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za1 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za1 form input {
    background: transparent;
    border: 1px solid gray;
    color: white;
  }
  body footer .con4 .bottom-div .za1 form label {
    display: inline;
    background: gray;
    padding: 6px 10px;
    font-size: 11px;
    color: white;
  }
  body footer .con4 .bottom-div .za2 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za2 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za2 p {
    font-size: 11px;
    margin: 0;
  }
  body footer .con4 .bottom-div .za2 .color {
    color: #ec3333;
    cursor: pointer;
  }
  body footer .con4 .bottom-div .za3 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za3 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za3 p {
    font-size: 11px;
    margin: 0;
  }
  body footer .con4 .bottom-div .za3 p .color {
    color: #ec3333;
    cursor: pointer;
  }
  body .ha1 {
    background-color: #ac4218;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  body .ha1 .row {
    margin: 5px 10px;
    justify-content: center;
    align-items: center;
  }
  body .ha1 .row .search {
    height: 80px;
    width: 80px;
    margin-right: 15px;
  }
  body .ha1 .row .ha2 {
    color: whitesmoke;
    font-weight: bold;
  }
  body main {
    width: 100%;
    height: auto;
    background: white;
    padding: 20px 20px;
  }
  body main .all {
    background: #d1cbcb;
  }
  body main .all div {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
  }
  body main .all .option-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 30px 30px;
  }
  body main .all .option-div .option-div1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  body main .all .option-div .option-div1 .op-d1 {
    width: auto;
  }
  body main .all .option-div .option-div1 .op-d1 .op-d2 {
    width: auto;
    font-size: 14px;
    font-weight: bolder;
  }
  body main .all .option-div .option-div1 .op-d1 select {
    width: 100%;
    height: auto;
  }
  body main .all .option-div .bttn {
    display: flex;
    font-size: 13px;
    width: auto;
  }
  body main .all .option-div .bttn form button {
    padding: 0;
    height: 30px;
    margin-top: 20px;
    color: white;
  }
  body main .all .option-div .bttn form .bttn-1 {
    background: brown;
    padding: 0;
  }
  body main .all .option-div .bttn form .bttn-2 {
    background: #2c1753;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  body a {
    color: white;
  }
  body a i {
    color: white;
    font-size: 30px;
  }
  body nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 5px 10px;
    color: white;
  }
  body nav a {
    display: flex;
    color: white;
  }
  body nav a .hide {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }
  body img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  body .img-secc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 20px;
  }
  body .img-secc h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  body .img-secc .bttn-img-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .img-secc .bttn-img-1 .bttn-img {
    height: 200px;
    width: 300px;
    padding: 20px 20px;
  }
  body .img-secc .bttn-img-1 .bttn-img a img {
    width: 100%;
    height: auto;
  }
  body .img-secc .bttn-img-1 .be2 {
    background: gray;
    height: 100%;
  }
  body .img-secc .bttn-img-1 .be3 {
    background: #b4a5a5;
    height: 100%;
  }
  body footer {
    background: black;
    width: 100%;
    height: auto;
  }
  body footer .ffa2 {
    width: 80px;
    height: 80px;
    border: 1px solid #b4aaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  body footer .con4 {
    width: 100%;
    height: auto;
  }
  body footer .con4 .icon-div {
    width: 100%;
    background: #3a3535;
  }
  body footer .con4 .icon-div .ul1 {
    display: flex;
    justify-content: start;
    list-style-type: none;
  }
  body footer .con4 .icon-div .ul1 li {
    padding: 15px 5px;
  }
  body footer .con4 .icon-div .ul1 li a {
    color: #bdafaf;
  }
  body footer .con4 .row1 {
    display: flex;
    padding-top: 20px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body footer .con4 .row1 .ffa1 {
    border-top: 1px solid #b4aaaa;
    border-bottom: 1px solid #b4aaaa;
  }
  body footer .con4 .row1 .ffa1 .ul1 {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
  }
  body footer .con4 .row1 .ffa1 .ul1 li {
    margin: 10px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  body footer .con4 .row1 .ffa1 .ul1 li a {
    color: white;
  }
  body footer .con4 .row1 .ffa3 {
    border-top: 1px solid #b4aaaa;
    border-bottom: 1px solid #b4aaaa;
  }
  body footer .con4 .row1 .ffa3 .ul1 {
    display: flex;
    justify-content: stretch;
    list-style-type: none;
  }
  body footer .con4 .row1 .ffa3 .ul1 li {
    margin: 10px 10px;
    font-size: 11px;
    font-weight: bold;
  }
  body footer .con4 .row1 .ffa3 .ul1 li a {
    color: white;
  }
  body footer .con4 .bottom-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
  }
  body footer .con4 .bottom-div .za1 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za1 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za1 form input {
    background: transparent;
    border: 1px solid gray;
    color: white;
  }
  body footer .con4 .bottom-div .za1 form label {
    display: inline;
    background: gray;
    padding: 6px 10px;
    font-size: 11px;
    color: white;
  }
  body footer .con4 .bottom-div .za2 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za2 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za2 p {
    font-size: 11px;
    margin: 0;
  }
  body footer .con4 .bottom-div .za2 .color {
    color: #ec3333;
    cursor: pointer;
  }
  body footer .con4 .bottom-div .za3 {
    width: 400px;
    text-align: center;
  }
  body footer .con4 .bottom-div .za3 h2 {
    font-size: 13px;
    font-weight: bold;
    color: white;
  }
  body footer .con4 .bottom-div .za3 p {
    font-size: 11px;
    margin: 0;
  }
  body footer .con4 .bottom-div .za3 p .color {
    color: #ec3333;
    cursor: pointer;
  }
  body .ha1 {
    background-color: #ac4218;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  body .ha1 .row {
    margin: 5px 10px;
    justify-content: center;
    align-items: center;
  }
  body .ha1 .row .search {
    height: 80px;
    width: 80px;
    margin-right: 15px;
  }
  body .ha1 .row .ha2 {
    color: whitesmoke;
    font-weight: bold;
  }
  body main {
    width: 100%;
    height: auto;
    background: white;
    padding: 20px 20px;
  }
  body main .all {
    background: #d1cbcb;
  }
  body main .all div {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
  }
  body main .all .option-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 30px 30px;
  }
  body main .all .option-div .option-div1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  body main .all .option-div .option-div1 .op-d1 {
    width: auto;
  }
  body main .all .option-div .option-div1 .op-d1 .op-d2 {
    width: auto;
    font-size: 14px;
    font-weight: bolder;
  }
  body main .all .option-div .option-div1 .op-d1 select {
    width: 100%;
    height: auto;
  }
  body main .all .option-div .bttn {
    display: flex;
    font-size: 13px;
    width: auto;
  }
  body main .all .option-div .bttn form button {
    padding: 0;
    height: 30px;
    margin-top: 20px;
    color: white;
  }
  body main .all .option-div .bttn form .bttn-1 {
    background: brown;
    padding: 0;
  }
  body main .all .option-div .bttn form .bttn-2 {
    background: #2c1753;
    padding: 0;
  }
}